[submodule "Ocius-Definition01"]
	path = Ocius-Definition01
	url = https://github.com/Abh-ay/Ocius-Definition01
[submodule "OciusChallenge"]
	path = OciusChallenge
	url = https://github.com/Abh-ay/Ocius-Definition01
